extends layout

block title
	title= "Backend.py in Jade"

block content
	.body
		h1= "Backend.py in Jade"

		p Parameters: Username=#{username} ID=#{id}
		p= "Pass parameters in URL /view/username/id/"

		p
			a(href="/view/vibhaj-rajan/15/")= "Vibhaj's Posts"
			
		-if request.user.is_authenticated
			a(href="/logout/") Logout
		-else
			span= "Login with "
			a(href="/login/google-oauth2/") Google
			a(href="/login/facebook/") Facebook

